* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: darksalmon;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}
